<template>
  <div class="col s11" style="padding:0;">
    <MostPopular/>
    <Latest/>
  </div>
</template>

<script>

import MostPopular from "@/components/Movies/MostPopular";
import Latest from "@/components/Movies/Latest";

export default {
  name: "HomeMovies",
  components: {
    MostPopular,
    Latest
  },
  data() {
    return {};
  }
};
</script>

<style>
</style>
