<template>
  <div class="HomeMovie">
    <div class="movie">
      <div class="row popular-text">MEST POPULÄR</div>
      <div class="row movie-text">
        <h1>Avengers Endgame</h1>
        <div class="movie-sub">
          <span class="date" style="margin-right:15px">24 April</span>|
          <span class="length" style="margin-left:10px;margin-right:15px">182 min</span>|
          <span class="where" style="margin-left:10px">Bio</span>
        </div>
      </div>
      <div class="row movie-desc">
        <div class="col s4" style="padding:0;">
          <p>
            Efter de katastrofala händelserna, som startades av Thanos,
            och vilka raderade halva universum och splittrade The Avengers
            tvingas de återstående medlemmarna i Avengers ta upp en sista kamp.
          </p>
        </div>
      </div>
      <div class="row movie-btn">
        <a class="btn-large waves-effect waves-light blue">Hitta dina biljetter</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {};
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.HomeMovie {
  min-height: 600px !important;
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("https://images8.alphacoders.com/100/thumb-1920-1003220.png");
}
.movie {
  padding-left: 100px;
}
.movie-desc {
  color: white;
  font-weight: 500;
  display: block;
}
.movie-btn {
  color: white;
}
.popular-text {
  font-size: 20px;
  color: white;
  font-weight: 600;
  padding-top: 10vh;
}
.movie-text {
  color: white;
}
.movie-sub {
  font-size: 16px;
  font-weight: 400;
  margin-top: -20px;
}
.movie-text h1 {
  color: white;
  font-size: 42px;
  font-weight: 700;
}
</style>
