<template>
  <div class="col card">
    <div class="image" v-bind:style="{ 'background-image': 'url(' + background + ')' }"></div>
    <div class="footer" style="position:relative;">
      <div class="col s8" style="padding:0;">{{Name}}</div>
      <div class="col s4" style="padding:0;postion:relative;">
        <img :src="img" height="60px" style="right:0;top:0;position:absolute;">
      </div>
      <br>
      <div class="date">{{date}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: ["background", "Name", "date", "img"],

  data() {
    return {};
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.date {
  font-size: 14px;
  font-weight: 900;
}
.card {
  margin-right: 20px;
  padding: 0;
}
.footer {
  padding: 20px;
  font-weight: 500;
  font-size: 18px;
}
.image {
  background-position: center center;
  background-size: cover;
  min-height: 300px;
  width: 250px;
}
</style>
