<template>
  <div class="col s1 navbar center">
    <router-link to="/" exact>
      <img src="@/assets/strim.png" height="35px" alt />
    </router-link>
    <ul>
      <router-link to="/movie">
        <li>
          <i class="material-icons">movie</i>
          <span class="text">Filmer</span>
        </li>
      </router-link>
      <router-link to="/tv">
        <li>
          <i class="material-icons">tv</i>
          <span class="text">Tv-Serier</span>
        </li>
      </router-link>
      <router-link to="/cinema">
        <li>
          <i class="material-icons">local_movies</i>
          <span class="text">På Bio</span>
        </li>
      </router-link>
      <router-link to="upcoming">
        <li style="border-bottom:1px solid #717184">
          <i class="material-icons">access_time</i>
          <span class="text">Kommande</span>
        </li>
      </router-link>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {};
  }
};
</script>

<style scaffold>
img {
  padding: 20px;
  margin-bottom: 13px;
  padding-bottom: 0;
}
.navbar {
  height: 100vh;
  border-right: 1px solid #717184;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
ul {
  margin-top: 0;
}
ul > li > i {
  margin-top: 30px;
  font-size: 30px !important;
}
li {
  font-weight: 500;
  padding: 15px 0;
  color: #717184;
  cursor: pointer;
  border-top: 1px solid #717184;
}
.active {
  color: #2196f3 !important;
}
.router-link-active .text,
.router-link-active i {
  color: #2196f3 !important;
}
.text-active {
  color: #2196f3 !important;
  display: block;
}
.text {
  font-size: 16px;
  display: block;
  margin-top: -5px;
}
</style>
