<template>
    <router-link @click="submitSearch()" :to="{ name: whatComponent, params: {id: id } }" key="{{id}}">
      <div class="row search-card">
          <span class="type" v-if="isMovie" title="FILM">
            <i class="fas fa-film"></i>
          </span>
          <span class="type" v-else>
            <i class="fas fa-tv" title="TV-SERIE"></i>
          </span>
          <div class="col">
            <img v-if="noImage" v-bind:src="poster" height="55px" width="50px" />
            <img
              v-else
              src="https://cdn.samsung.com/etc/designs/smg/global/imgs/support/cont/NO_IMG_600x600.png"
              height="55px"
              width="50px"
            />
          </div>
          <div class="col info">
            <span class="title">{{title}}</span>
            <span class="year">({{year}})</span>
          </div>
      </div>
    </router-link>
</template>

<script>

export default {
  name: "SearchCard",
  props: ["title", "year", "id", "type", "poster"],

  data() {
    return {
        search: 'qqqqq'
    };
  },

  computed: {
    isMovie() {
      var type = this.type;
      if (type === "movie") {
        return this.type;
      }
    },
    whatComponent(){
      var type = this.type;

      if(type == "movie"){
        return 'MovieSingle'
      }else{
        return 'TvSingleComponent'
      }
    },
    noImage() {
      var poster = this.poster;
      if (poster != "N/A") {
        return this.poster == this.poster;
      }
    },
    submitSearch(){
    }
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a {
  color: black;
}
i {
  font-size: 16px;
}
.row {
  margin-bottom: 0;
  padding-top: 10px;
}
.search-card:hover {
  background-color: #2195f325;
  cursor: pointer;
}
.search-card {
  border-bottom: 1px solid lightgray;
  position: relative;
}
.info {
  position: relative;
  font-size: 14px;
  margin-right: 50px;
  padding-top: 16px;
}
.type {
  position: absolute;
  right: 10px;
  top: 10px;
}
img {
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 18px;
}
</style>
