<template>
  <div class="col s11 searchbar" style="height:54px;">
    <i class="material-icons" style="position:absolute;">search</i>
    <input
      @keyup="SearchItems"
      type="text"
      class="strim-search"
      v-model="SearchInput"
      placeholder="Sök efter Film eller TV-serie"
      v-on:keyup.enter="onEnter"
    />
    <div class="col search-block" v-if="isItems">
      <div v-for="item in items" style="padding-top:0;padding-bottom:0;">
        <div v-for="movie in item">
          <SearchCard
            :title="movie.Title"
            :year="movie.Year"
            :id="movie.imdbID"
            :type="movie.Type"
            :poster="movie.Poster"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SearchCard from "./SearchCard";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";

export default {
  name: "SearchBar",
  components: { SearchCard, PulseLoader },
  data() {
    return {
      SearchInput: "",
      items: [],
      isItems: false,
      loader: true,
    };
  },
  watch: {
    '$route': 'change'
  },
  methods: {
    SearchItems() {
      let input = "";
      this.items = "";

      input = this.SearchInput;
      let count = input.length;
      console.log(count);

      if (count > 3) {
        this.isItems = true;
      } else {
        this.isItems = false;
      }

      this.items = [];

      console.log(this.items);
      fetch(
        `https://movie-database-imdb-alternative.p.rapidapi.com/?page=1&r=json&s=${input}`,
        {
          method: "GET",
          headers: new Headers({
            "X-RapidAPI-Host": "movie-database-imdb-alternative.p.rapidapi.com",
            "X-RapidAPI-Key":
              "36b5002b53mshd12f39b1657b625p1af7a0jsn83b650509b35"
          })
        }
      )
        .then(response => response.json())
        .then(json => this.items.push(json.Search));
    },
    change(){
        this.id = this.$route.params.id
        this.items = [];
    },
   
  }
};
</script>

<style scaffold>

.search-block {
  margin-bottom: 50px;
  position: absolute;
  z-index: 99999999;
  margin-top: -2px;
  background-color: white;
  box-shadow: 0px 8px 10px 2px rgba(0, 0, 0, 0.75);
}
.strim-search {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding-left: 40px !important;
  margin-top: -10px !important;
  font-size: 18px !important;
}
.searchbar {
  border-bottom: 1px solid #717184;
  color: #717184;
  padding: 13px !important;
}
</style>
