<template>
  <div>
    <h2>Strima på:</h2>
    <div class="netflix">
     <div class="season"></div>
    </div>
    <div class="hbo">
     <div class="season"></div>
    </div>
  </div>
</template>
<script>
import TvCard from "@/components/Series/TvCard";
import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide } from "vue-awesome-swiper";

export default {
  name: "AvailableComponent",
  components: {},

  data() {
    return {};
  }
};
</script>

<style scoped>
.season{
  position: absolute;
  display: inline;
  bottom:0;
  font-size: 14px;
  font-weight: 700;
  left: 0;
  color:black;
  background-color:rgba(255, 255, 255, 0.8);
}
.hbo{
  background-size:cover;
  position: relative;
  margin-bottom: 20px;
  min-height: 80px;
  background-position: center center;
  background-image: url(  https://www.filmtopp.se/wp-content/uploads/2018/01/hbo-nordic.jpg)

}
.netflix{
  background-size:cover;
  position: relative;
  margin-bottom: 20px;
  min-height: 80px;
  background-position: center center;
  background-image: url(https://assets.brand.microsites.netflix.io/assets/fbd0c908-b388-11e7-9274-06c476b5c346_cm_800w.png?v=45)
}
h2 {
  font-size: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
</style>

