<template>
  <div class="col s11" style="padding:0;">
    <MostPopular />
    <Latest />
  </div>
</template>

<script>
import MostPopular from "@/components/Series/MostPopular";
import Latest from "@/components/Series/Latest";

export default {
  name: "HomeMovies",
  components: {
    MostPopular,
    Latest
  },
  data() {
    return {};
  }
};
</script>

<style>
</style>
