<template>
  <div class="popular">
    <h5>Senaste</h5>
    <div class="row">
      <swiper :options="swiperOption">
        <swiper-slide>
          <MovieCard
            background="https://www.joblo.com/assets/images/joblo/posters/2019/04/21-Bridges-poster-1.jpg"
            name="Avengers : Infinity War"
            img="https://new.static.tv.nu/16451828"
            description="Thanos is around"
            date="2hrs"
          />
        </swiper-slide>
        <swiper-slide>
          <MovieCard
            background="https://www.joblo.com/assets/images/joblo/posters/2019/04/gemini-man-poster-xl.jpg"
            name="Reast"
            img="https://new.static.tv.nu/16451828"
            description="Thanos is around"
            date="2hrs"
          />
        </swiper-slide>
        <swiper-slide>
          <MovieCard
            background="https://www.joblo.com/assets/images/joblo/posters/2019/04/toy_story_four_ver11_xlg.jpg"
            name="Testar"
            img="https://new.static.tv.nu/16451828"
            description="Thanos is around"
            date="2hrs"
          />
        </swiper-slide>
        <swiper-slide>
          <MovieCard
            background="https://www.joblo.com/assets/images/joblo/posters/2019/04/godzilla_king_of_the_monsters_ver9_xlg.jpg"
            name="Avengers : Infinity War"
            img="https://new.static.tv.nu/16451828"
            description="Thanos is around"
            date="2hrs"
          />
        </swiper-slide>
        <swiper-slide>
          <MovieCard
            background="http://res.cloudinary.com/og-tech/image/upload/s--4NgMf3RF--/v1521804358/avengers.jpg"
            name="Avengers : Infinity War"
            img="https://new.static.tv.nu/16451828"
            description="Thanos is around"
            date="2hrs"
          />
        </swiper-slide>
        <swiper-slide>
          <MovieCard
            background="http://res.cloudinary.com/og-tech/image/upload/s--4NgMf3RF--/v1521804358/avengers.jpg"
            name="Avengers : Infinity War"
            img="https://new.static.tv.nu/16451828"
            description="Thanos is around"
            date="2hrs"
          />
        </swiper-slide>
        <swiper-slide>
          <MovieCard
            background="http://res.cloudinary.com/og-tech/image/upload/s--4NgMf3RF--/v1521804358/avengers.jpg"
            name="Avengers : Infinity War"
            img="https://new.static.tv.nu/16451828"
            description="Thanos is around"
            date="2hrs"
          />
        </swiper-slide>

        <swiper-slide>
          <MovieCard
            background="http://res.cloudinary.com/og-tech/image/upload/s--4NgMf3RF--/v1521804358/avengers.jpg"
            name="Avengers : Infinity War"
            img="https://new.static.tv.nu/16451828"
            description="Thanos is around"
            date="2hrs"
          />
        </swiper-slide>
        <swiper-slide>
          <MovieCard
            background="http://res.cloudinary.com/og-tech/image/upload/s--4NgMf3RF--/v1521804358/avengers.jpg"
            name="Avengers : Infinity War"
            img="https://new.static.tv.nu/16451828"
            description="Thanos is around"
            date="2hrs"
          />
        </swiper-slide>
        <!-- Optional controls -->
        <div class="swiper-button-next" slot="button-next"></div>
      </swiper>
    </div>
  </div>
</template>

<script>
import MovieCard from "@/components/Movies/MovieCard";
import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide } from "vue-awesome-swiper";

export default {
  name: "Latest",
  components: {
    MovieCard,
    swiper,
    swiperSlide
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 5,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        // init: false,
        pagination: {
          el: ".swiper-pagination-h",
          clickable: true
        },
        breakpoints: {
          1024: {
            slidesPerView: 4,
            spaceBetween: 40
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 30
          },
          640: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          320: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }
      }
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.popular {
  padding-left: 100px;
  padding-top: 10px;
}
.swiper-button-next {
  margin-right: 20px;
  background-color: #2196f3;
  padding: 40px;
  color: white !important;
  border-radius: 40px;
  border: none;
  outline: none;
}
</style>
