<template>
  <div class="HomeMovie">
    <div class="movie">
      <div class="row popular-text">MEST POPULÄR</div>
      <div class="row movie-text">
        <h1>SUITS</h1>
        <div class="movie-sub">
          <span class="date" style="margin-right:15px">Nästa Avsnitt: 27 Juni 02:00 (US)</span>
        </div>
      </div>
      <div class="row movie-desc">
        <div class="col s4" style="padding:0;">
          <p>Den smarta, men outbildade, Mike får chansen att jobba med en av New Yorks bästa advokater.</p>
        </div>
      </div>
      <div class="row movie-btn">
        <a class="btn-large waves-effect waves-light blue">Läs Mer</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {};
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.HomeMovie {
  min-height: 600px !important;
  background-size: cover !important;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url("https://wallpapercave.com/wp/wp2732671.jpg");
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}
.movie {
  padding-left: 100px;
}
.movie-desc {
  color: white;
  font-weight: 500;
  display: block;
}
.movie-btn {
  color: white;
}
.popular-text {
  font-size: 20px;
  color: white;
  font-weight: 600;
  padding-top: 10vh;
}
.movie-text {
  color: white;
}
.movie-sub {
  font-size: 16px;
  font-weight: 400;
  margin-top: -20px;
}
.movie-text h1 {
  color: white;
  font-size: 42px;
  font-weight: 700;
}
</style>
