<template>
  <div class="col s12 row flex">
    <h2>Säsong {{season}}</h2>
    <swiper :options="swiperOption">
      <swiper-slide>
        <TvCard
          background="https://m.media-amazon.com/images/M/MV5BYzYxYTRjNTMtZWU3Yi00ODhlLWE4MDYtY2U1NmU2YmM0OTAyXkEyXkFqcGdeQXVyNTk3MzkxNjQ@._V1_UX224_CR0,0,224,126_AL_.jpg"
          name="Right-Hand Man"
          img="https://new.static.tv.nu/16451828"
          description="Harvey and Zane grapple over who should lead as the firm works through its transition."
          date="2019-10-16"
          episode="9"
          available="false"
          imdbRating="8.1"
        />
      </swiper-slide>
      <swiper-slide>
        <TvCard
          background="https://m.media-amazon.com/images/M/MV5BMTM2MTJjMmItYmM5ZC00NDliLTg2ODctYmU0NTkyNDJkODIxXkEyXkFqcGdeQXVyNjc5Mjg0NjU@._V1_UX224_CR0,0,224,126_AL_.jpg"
          name="Pecking Order"
          img="https://new.static.tv.nu/16451828"
          description="Harvey and Donna get their first taste of how Samantha operates; Alex tries to impress Zane."
          date="2019, 3, 15"
          episode="8"
          imdbRating="6.9"
          available="true"
        />
      </swiper-slide>
      <swiper-slide>
        <TvCard
          background="https://m.media-amazon.com/images/M/MV5BZjgyYThiOGQtNGRhZi00YzNjLThiM2YtYWE5ZTcyMGNmN2UwXkEyXkFqcGdeQXVyMzgwNDk3ODg@._V1_UY126_CR0,0,224,126_AL_.jpg"
          name="Promises, Promises"
          img="https://new.static.tv.nu/16451828"
          description="Harvey is drawn into a dispute with the firm's landlord. Alex pursues Samantha's former client."
          date="2019, 3, 15"
          episode="7"
          imdbRating="8.0"
        />
      </swiper-slide>
      <swiper-slide>
        <TvCard
          background="https://m.media-amazon.com/images/M/MV5BZjQ5MDdkNTgtM2RmMi00ZjVjLWI1YjMtMDkxMTdhNWNmYmVjXkEyXkFqcGdeQXVyMzgwNDk3ODg@._V1_UY126_CR0,0,224,126_AL_.jpg"
          name="Revenue Per Square Foot"
          img="https://new.static.tv.nu/16451828"
          description="Alex is caught between Harvey and Zane as Louis struggles to overcome a shocking setback."
          date="2019, 3, 15"
          episode="6"
          imdbRating="7.8"
        />
      </swiper-slide>
      <swiper-slide>
        <TvCard
          background="https://m.media-amazon.com/images/M/MV5BNDViN2EyYjktMGY4ZS00MWVlLTgyYzAtN2ZjOGVlMjE1ZWY2XkEyXkFqcGdeQXVyMzgwNDk3ODg@._V1_UY126_CR0,0,224,126_AL_.jpg"
          name="Good Mudding"
          img="https://new.static.tv.nu/16451828"
          description="Harvey confronts his personal issues to defend his brother. Louis sacrifices for family."
          date="2019, 3, 15"
          episode="5"
          imdbRating="7.7"
        />
      </swiper-slide>
      <swiper-slide>
        <TvCard
          background="http://res.cloudinary.com/og-tech/image/upload/s--4NgMf3RF--/v1521804358/avengers.jpg"
          name="Avengers : Infinity War"
          img="https://new.static.tv.nu/16451828"
          description="Thanos is around"
          date="2019, 3, 15"
          episode="4"
          imdbRating="7.6"
        />
      </swiper-slide>
      <swiper-slide>
        <TvCard
          background="http://res.cloudinary.com/og-tech/image/upload/s--4NgMf3RF--/v1521804358/avengers.jpg"
          name="Avengers : Infinity War"
          img="https://new.static.tv.nu/16451828"
          description="Thanos is around"
          date="2019, 3, 15"
          episode="3"
          imdbRating="8.7"
        />
      </swiper-slide>

      <swiper-slide>
        <TvCard
          background="http://res.cloudinary.com/og-tech/image/upload/s--4NgMf3RF--/v1521804358/avengers.jpg"
          name="Avengers : Infinity War"
          img="https://new.static.tv.nu/16451828"
          description="Thanos is around"
          date="2019, 3, 15"
          episode="2"
          imdbRating="6.0"
        />
      </swiper-slide>
      <swiper-slide>
        <TvCard
          background="http://res.cloudinary.com/og-tech/image/upload/s--4NgMf3RF--/v1521804358/avengers.jpg"
          name="Avengers : Infinity War"
          img="https://new.static.tv.nu/16451828"
          description="Thanos is around"
          date="2019, 3, 15"
          episode="1"
          imdbRating="6.5"
        />
      </swiper-slide>
      <!-- Optional controls -->
      <div class="swiper-button-next" slot="button-next"></div>
    </swiper>
  </div>
</template>
<script>
import TvCard from "@/components/Series/TvCard";
import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide } from "vue-awesome-swiper";

export default {
  name: "SeasonComponent",
  components: {
    TvCard,
    swiper,
    swiperSlide
  },
  props: ["season"],

  data() {
    return {
      swiperOption: {
        slidesPerView: 4,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        },
        // init: false,
        pagination: {
          el: ".swiper-pagination-h",
          clickable: true
        },
        breakpoints: {
          1650: {
            slidesPerView: 3,
            spaceBetween: 40
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 40
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 30
          },
          640: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          320: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }
      }
    };
  }
};
</script>

<style scoped>
.swiper-button-next {
  top: 80px;
}
h2 {
  font-size: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
</style>

