<template>
  <div class="tv-container flex">
    <div class="image" v-bind:style="{ 'background-image': 'url(' + background + ')' }"></div>
    <div class="corner-ribbon" v-if="isOut">17/10/19</div>
    <div class="footer">
      <div class="imdb-rating">{{imdbRating}}</div>
      <div class="title">Avsnitt {{episode}}: {{Name}}</div>
      <div class="desc">{{description}}</div>
      <div class="date">{{date}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: [
    "background",
    "Name",
    "date",
    "img",
    "description",
    "available",
    "episode",
    "imdbRating"
  ],
  data() {
    return {};
  },
  computed: {
    isOut() {
      var date = this.date;
      var fullDate = date.split("-");

      var year = fullDate[0];
      var month = fullDate[1];
      var day = fullDate[2];

      var today = new Date();
      var release = new Date(year, month, day);

      if (release.getTime() > today.getTime()) {
        return this.date;
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.corner-ribbon {
  width: 180px;
  background: #039be5;
  position: absolute;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1px;
  color: #f0f0f0;
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.sticky {
  position: fixed;
}
.tv-container {
  width: 300px;
  position: relative;
  overflow: hidden;
}
.date {
  text-align: right;
  position: absolute;
  right: 10px;
  color: rgb(160, 160, 160);
  font-size: 12px;
  bottom: 0;
}
.imdb-rating {
  background-color: #f5c518;
  color: white;
  font-weight: 800;
  border-radius: 50px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
  display: inline;
  padding: 10px;
  position: absolute;
  top: -20px;
  right: 30px;
}
.stream-netflix {
  background-color: #e50914;
  color: white;
  font-weight: 800;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
  display: inline;
  padding: 12px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.desc {
  width: 300px;
  padding-top: 10px;
  font-size: 12px;
}
.tvcard {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.title {
  font-weight: 600;
}

.card {
  margin-right: 20px;
  padding: 0;
}
.footer {
  position: relative;
  padding: 15px 5px;
  font-weight: 500;
  font-size: 14px;
  height: 85px;
}
.image {
  background-position: center center;
  background-size: cover;
  height: 150px;
  width: 300px;
}
</style>
