<template>
  <div class="col s11" style="padding:0;">
    <div class="HomeMovie" v-bind:style="{ backgroundImage: 'url(' + movie[0].Poster + ')' }">
      <div class="movie">
        <div class="row popular-text">TV-serie</div>
        <div class="row movie-text text-center">
            <h1>{{movie[0].Title}}</h1>
          <div class="movie-sub col s6 offset-s3">
            <span class="date" style="margin-right:15px">{{movie[0].Plot}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
       <div class="col s10 offset-s1 movie-block">
        <div class="col s4">
          <h4>Regissör: {{movie[0].Director}}</h4>
          <h4>Genre: {{movie[0].Genre}}</h4>
          <h4>Släpptes: {{movie[0].Released}}</h4>
        </div>
        <div class="col s4" style="position:relative;">
          <h4>Speltid: {{movie[0].Runtime}}</h4>
          <h4>Ålder: {{movie[0].Rated}}</h4>
          <h4>Rating: {{movie[0].Ratings[0].Value}}</h4>
        </div>
         <div class="col s3 offset-s1">
          <span class="rating">{{movie[0].Ratings[0].Value}}</span>
          <AvailableComponent />
        </div>
      </div>
      <div class="col s10 offset-s1" style="margin-bottom:50px;">
        <SeasonComponent season="8" />
      </div>
    </div>
  </div>
</template>

<script>
import SeasonComponent from "@/components/Series/SeasonComponent";
import AvailableComponent from "@/components/Series/AvailableComponent";

export default {
  name: "TvSingleComponent",
  components: {
    SeasonComponent,
    AvailableComponent
  },
  data() {
    return {
      id: this.$route.params.id,
      movie: [],
    };
  },
  watch: {
    '$route': 'change'
  },
  methods: {
    fetchMovie(){
      this.id = this.$route.params.id
      this.movie = []
        fetch(
        `https://movie-database-imdb-alternative.p.rapidapi.com/?page=1&r=json&i=${this.id}`,
        {
          method: "GET",
          headers: new Headers({
            "X-RapidAPI-Host": "movie-database-imdb-alternative.p.rapidapi.com",
            "X-RapidAPI-Key":
              "3eb21717a3msha4258d481e3bea7p1e1987jsnde2be36ca90b"
          })
        })
        .then(response => response.json())
        .then(json => this.movie.push(json));
    },
    change(){
        this.fetchMovie();
    }

  },
  created(){
      this.fetchMovie();
  },
};
</script>

<style scoped>
a,
a:visited {
  color: black !important;
  margin-right: 60px;
  padding-bottom: 2px;
}
.active {
  color: black;
  border-bottom: 3px solid #039be5;
}
.movie-block{
  margin-top:-100px;
  padding:10px 20px;
  margin-bottom: 20px;
  background-color:#fff;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75)
}
.movie-block h4{
  font-size:18px;
  font-weight: 700;
}
.small-h1 {
  font-size: 28px;
  padding: 0;
  margin: 0;
}
.main {
  padding: 0 20px;
}
.HomeMovie {
  background-size: cover !important;
  background-position: top center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}
.movie {
  text-align: center;
}
.movie-desc {
  color: white;
  font-weight: 500;
  display: block;
}
.movie-btn {
  color: white;
}
.rating{
  position:absolute;
  padding:20px 10px;
  right:50px;
  top:80px;
  background-color:yellow;
  border-radius:50%;
  font-weight: 900;
}
.popular-text {
  font-size: 14;
  color: white;
  font-weight: 600;
  padding-top: 10vh;
}
.movie-text {
  color: white;
}
.movie-sub {
  font-size: 16px;
  font-weight: 400;
  margin-top: -20px;
  padding-bottom: 20vh;
}
.movie-text h1 {
  color: white;
  font-size: 42px;
  font-weight: 700;
}
</style>
