<template>
  <div class="col s11" >
      <div class="col s4" v-for="movie in movies" v-bind:key="movie.id" style="padding-top:0;padding-bottom:0;">
          <div class="card">
            <h1>{{movie.movie_name}}</h1>
            <p>{{movie.movie_length}}</p>
            <p>{{movie.movie_genre}}</p>
            <p>{{movie.movie_pg}}</p>
          </div>
      </div>
    </div>
</template>

<script>
import db from '@/firebase/init'
export default {
    data(){
        return {
            movies: []
        };
    },
    created(){
        db.collection('movies').get().then(snapshot => {
            snapshot.forEach(doc => {
                let movie = doc.data()
                movie.id = doc.id
                this.movies.push(movie)
            })
        })

        
    }
}
</script>

<style scoped>
    .card{
        min-height: 50px;
        padding:10px;
    }
    .card h1{
        font-size:24px;
        padding:0;
        margin:0;
    }
</style>>
