<template>
  <div id="app">
    <div class="row">
      <Navbar />
      <SearchBar />
      <router-view />
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/Layout/Navbar";
import SearchBar from "@/components/Layout/SearchBar";
import HomeMovies from "@/components/Movies/HomeMovies";
export default {
  name: "App",
  components: {
    SearchBar,
    Navbar,
    HomeMovies
  }
};
</script>

<style>
* {
  font-family: 'Open Sans', sans-serif;
}
</style>
